/* Imported the fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato&family=League+Spartan:wght@400;700&display=swap');

/* reset css */

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: var(--secondary-font);
    font-size: 16px;
    background-color: var(--secondary-black-color);
    letter-spacing: 0.5px;
    line-height: 1.6rem;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

/* CSS Variables */

:root {
    --primary-font: 'League Spartan', sans-serif;
    --secondary-font: 'Lato', sans-serif;
    --primary-green-color: #42e2b8;
    --secondary-black-color: #161B1C;
    --bg-color: #1A2228;
    --text-white-color: #ffffff;
    --text-black-color: #000000;
}

/* Basic Styles */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--primary-font);
    color: var(--text-white-color);
    letter-spacing: 1px;
    line-height: 1.4rem;
    font-weight: 700;
}

a {
    text-decoration: none;
}

button {
    font-family: var(--primary-font);
    font-size: 1.25rem;
    letter-spacing: 1px;
}

img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

hr {
    width: 13%;
    background-color: var(--primary-green-color);
}

/* Utility classes */

.nd-section {
    width: 100%;
    height: 100%;
    padding: 3.75rem;
}

.nd-container {
    width: 100%;
    height: 100%;
}

.nd-row {
    width: 80%;
    margin: 0 auto;
}

.nd-h1-heading {
    font-size: 3.25rem;
}

.nd-h2-heading {
    font-size: 2.75rem;
}

.nd-h3-heading {
    font-size: 2.25rem;
}

.nd-h4-heading {
    font-size: 1.75rem;
}

.nd-body-text {
    font-size: 1.125rem;
    line-height: 1.8rem;
    color: var(--text-white-color);
}

.nd-text-center {
    text-align: center;
}

.nd-primary-btn {
    font-family: var(--primary-font);
    font-size: 1.25rem;
    font-weight: 700;
    text-align: center;
    background-color: var(--primary-green-color);
    color: var(--text-white-color);
    border-radius: none;
    padding: 10px 20px;
    transition: all 0.5s ease-in-out;
}

.nd-primary-btn:hover {
    box-shadow: inset 200px 0px #ffffff;
    color: var(--text-black-color);
}

.nd-secondary-btn {
    font-family: var(--primary-font);
    font-size: 1.25rem;
    font-weight: 700;
    text-align: center;
    background-color: rgba(0, 0, 0, 0);
    color: var(--primary-green-color);
    border: 2px solid var(--primary-green-color);
    border-radius: none;
    padding: 10px 20px;
    transition: all 0.5s ease-in-out;
}

.nd-secondary-btn:hover {
    box-shadow: inset 200px 0px var(--primary-green-color);
    color: var(--text-black-color);
}

.nd-flex {
    display: flex;
    justify-content: center;

}

/* Navbar styles */

#nd-header {
    width: 100%;
    /* background-color: violet; */
}

#nd-navbar {
    width: 100%;
    height: 80px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#nd-navbar #nd-navbar-logo a {
    font-family: var(--primary-font);
    font-size: 2rem;
    font-weight: 700;
    color: var(--text-white-color);
}

#nd-navbar .nd-navbar-menu {
    display: flex;
    list-style-type: none;
}

#nd-navbar .nd-navbar-menu .nd-navbar-menu-item a {
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 1.25rem;
    letter-spacing: 1px;
    margin-right: 30px;
    color: var(--text-white-color);
    transition: all 0.3s ease-in-out;

}

#nd-navbar .nd-navbar-menu .nd-navbar-menu-item a:hover {
    color: var(--primary-green-color);
}

#nd-navbar .nd-navbar-menu .nd-navbar-menu-item .nd-navbar-cta {
    box-shadow: 2px 1px 15px 0px var(--primary-green-color);
    transition: all 0.3s ease-in-out;
}

#nd-navbar .nd-navbar-menu .nd-navbar-menu-item .nd-navbar-cta:hover {
    background-color: #ffffff;
    color: var(--text-black-color);
}

/* Mobile menu styles */
#nd-navbar .nd-navbar-mobile-menu {
    display: none;
}

#nd-navbar .nd-navbar-mobile-hamburger {
    display: none;
}

#nd-navbar .nd-navbar-mobile-hamburger .nd-navbar-hamburger-bar {
    border: 1px solid #ffffff;
    width: 20px;

}

#nd-checkbox {
    display: none;
}

/* Hero section styles */

#nd-hero-section .nd-hero-container .nd-hero-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nd-hero-section .nd-hero-container .nd-hero-row .nd-hero-heading-column {
    width: 100%;
    color: var(--text-white-color);
    margin-top: -5%;
}

#nd-hero-section .nd-hero-container .nd-hero-row .nd-hero-img-column {
    width: 100%;
    color: var(--text-white-color);
}

#nd-hero-section .nd-hero-container .nd-hero-row .nd-hero-heading-column .nd-hero-text-container .nd-h3-heading,
.nd-h1-heading {
    line-height: 3.8rem !important;
}

#nd-hero-section .nd-hero-container .nd-hero-row .nd-hero-heading-column .nd-hero-text-container .nd-h1-heading {
    font-size: 4.5rem;
}

#nd-hero-section .nd-hero-container .nd-hero-row .nd-hero-heading-column .nd-hero-text-container .nd-h3-heading {
    font-size: 3.5rem;
    font-weight: 500;
}

#nd-hero-section .nd-hero-container .nd-hero-row .nd-hero-heading-column .nd-hero-text-container .nd-hero-body-text {
    font-size: 1.5rem;
    margin-top: 20px;
}

#nd-hero-section .nd-hero-container .nd-hero-row .nd-hero-heading-column .nd-hero-cta-container {
    margin-top: 2.25rem;
}

#nd-hero-section .nd-hero-container .nd-hero-row .nd-hero-heading-column .nd-hero-cta-container a {
    text-align: center;
}

#nd-hero-section .nd-hero-container .nd-hero-row .nd-hero-heading-column .nd-hero-cta-container .nd-hero-secondary-cta {
    margin-left: 1.25rem;
}

#nd-hero-section .nd-hero-container .nd-hero-row .nd-hero-img-column .nd-hero-img-container {
    text-align: center;
}

#nd-hero-section .nd-hero-container .nd-hero-row .nd-hero-img-column .nd-hero-img-container img {
    width: 100%;
    filter: drop-shadow(2px 1px 10px var(--primary-green-color));
    animation: shadow-glowing 1.5s ease-in-out infinite alternate;
    transition: all 0.3s ease-in-out;
}

@keyframes shadow-glowing {
    from {
        filter: drop-shadow(2px 1px 10px var(--primary-green-color));
    }

    to {
        filter: drop-shadow(2px 1px 15px var(--primary-green-color));
    }
}

/* Divider styles */
.nd-hero-container {
    overflow: hidden;
    position: relative;
}

.nd-hero-container::before {
    content: '';
    font-family: 'shape divider from ShapeDividers.com';
    position: absolute;
    bottom: -1px;
    left: -1px;
    right: -1px;
    top: -1px;
    z-index: 3;
    pointer-events: none;
    background-repeat: no-repeat;
    background-size: 183% 59px;
    background-position: 50% 100%;
    background-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35.28 2.17" preserveAspectRatio="none"><path d="M35.28 1.16c-3.17-.8-7.3.4-10.04.56-2.76.17-9.25-1.47-12.68-1.3-3.42.16-4.64.84-7.04.86C3.12 1.31 0 .4 0 .4v1.77h35.28z" fill="%23fbd8c2"/></svg>');
}

.nd-hero-container::before {
    bottom: -0.1vw;
    left: -0.1vw;
    right: -0.1vw;
    top: -0.1vw;
    background-size: 184% 116px;
    background-position: 50% 100%;
    background-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35.28 2.17" preserveAspectRatio="none"><path d="M35.28 1.16c-3.17-.8-7.3.4-10.04.56-2.76.17-9.25-1.47-12.68-1.3-3.42.16-4.64.84-7.04.86C3.12 1.31 0 .4 0 .4v1.77h35.28z" fill="%231a2228"/></svg>');
}

/* About section styles */
#nd-about-section {
    background-color: var(--bg-color);
    padding: 50px 0px 100px 0px;
}

#nd-about-section .nd-about-container .nd-about-row {
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

#nd-about-section .nd-about-container .nd-about-row .nd-about-img-column {
    width: 100%;
    text-align: center;
}

#nd-about-section .nd-about-container .nd-about-row .nd-about-img-column img {
    max-width: 75%;
    height: auto;
   text-align: center;
}

#nd-about-section .nd-about-container .nd-about-row .nd-about-text-column {
    width: 100%;
    padding-top: 30px;
}

#nd-about-section .nd-about-container .nd-about-row .nd-about-text-column h2 {
    color: var(--primary-green-color);
    margin-bottom: 30px;
    letter-spacing: 2px;
}

#nd-about-section .nd-about-container .nd-about-row .nd-about-text-column .nd-skill-bars {
    padding: 30px 0px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#nd-about-section .nd-about-container .nd-about-row .nd-about-text-column .nd-skill-bars .nd-skill-bar-item {
    width: 80%;
    background-color: #707070;
    height: 5px;
    margin: 10px 0px 25px 0px;
}

#nd-about-section .nd-about-container .nd-about-row .nd-about-text-column .nd-skill-bars .nd-skill-bar-html {
    box-shadow: inset 28rem 0px var(--primary-green-color);
}

#nd-about-section .nd-about-container .nd-about-row .nd-about-text-column .nd-skill-bars .nd-skill-bar-css {
    box-shadow: inset 25rem 0px var(--primary-green-color);
}

#nd-about-section .nd-about-container .nd-about-row .nd-about-text-column .nd-skill-bars .nd-skill-bar-bootstrap {
    box-shadow: inset 23rem 0px var(--primary-green-color);
}

#nd-about-section .nd-about-container .nd-about-row .nd-about-text-column .nd-skill-bars .nd-skill-bar-git {
    box-shadow: inset 18rem 0px var(--primary-green-color);
}

#nd-about-section .nd-about-container .nd-about-row .nd-about-text-column .nd-about-cta-container .nd-about-secondary-btn {
    margin-left: 20px;
}

/* Mobile styles */
@media only screen and (max-width: 767px) {

    /* Utility classes */
    .nd-section {
        padding: 2rem;
    }

    .nd-h1-heading {
        font-size: 3rem;
    }

    .nd-h2-heading {
        font-size: 2.5rem;
    }

    .nd-h3-heading {
        font-size: 1.75rem;
    }

    .nd-h4-heading {
        font-size: 1.5rem;
    }

    .nd-body-text {
        font-size: 1rem;
    }

    .nd-primary-btn {
        font-size: 1.125rem;
        padding: 8px 20px;
    }

    .nd-secondary-btn {
        font-size: 1.125rem;
        padding: 8px 20px;
    }

    /* Mobile menu styles */

    #nd-header {
        width: 100%;
        box-shadow: 2px -17px 37px 0px var(--primary-green-color);
        position: relative;
    }

    #nd-header #nd-navbar {
        height: 60px;
        justify-content: space-between;
        padding: 0px 35px;
    }

    #nd-navbar .nd-navbar-menu {
        display: none;
    }

    #nd-navbar .nd-navbar-mobile-menu {
        display: block;
        width: 45%;
        list-style-type: none;
        background-color: #ffffff;
        position: absolute;
        right: 0;
        top: 60px;
        z-index: 9999999;
        padding: 40px 25px;
        transform: translatex(350px);
        transition: all 0.3s ease-in-out;
    }

    #nd-navbar .nd-navbar-mobile-menu .nd-navbar-menu-item {
        border-bottom: 1px solid rgba(0, 0, 0, 0.189);
    }

    #nd-navbar .nd-navbar-mobile-menu .nd-navbar-menu-item a {
        font-family: var(--primary-font);
        font-weight: 700;
        font-size: 1rem;
        letter-spacing: 1px;
        color: var(--text-black-color);
        transition: all 0.3s ease-in-out;
    }


    #nd-navbar .nd-navbar-mobile-menu .nd-navbar-menu-item a:hover {
        color: var(--primary-green-color);
    }

    #nd-navbar .nd-navbar-mobile-menu .nd-navbar-cta {
        margin-top: 10px;
        border: none;
    }

    #nd-navbar .nd-navbar-mobile-menu .nd-navbar-menu-item .nd-navbar-cta:hover {
        background-color: #000000;
        color: var(--primary-green-color);
    }

    #nd-navbar #nd-navbar-logo a {
        font-size: 1.75rem;
    }

    #nd-navbar .nd-navbar-mobile-hamburger {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 4px;
    }

    #nd-checkbox:checked~.nd-navbar-mobile-menu {
        transform: translatex(0px) !important;
    }

    /* Mobile hero section styles  */

    #nd-hero-section {
        padding: 50px 0px 0px 0px;
    }

    #nd-hero-section .nd-hero-container .nd-hero-row {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    #nd-hero-section .nd-hero-container .nd-hero-row .nd-hero-heading-column {
        width: 100%;
        color: var(--text-white-color);
        margin-top: 0px;
    }
    

    #nd-hero-section .nd-hero-container .nd-hero-row .nd-hero-heading-column .nd-hero-text-container .nd-h1-heading {
        font-size: 3.5rem;
        margin-bottom: 10px;
    }

    #nd-hero-section .nd-hero-container .nd-hero-row .nd-hero-heading-column .nd-hero-text-container .nd-h3-heading {
        font-size: 2.5rem;
    }

    #nd-hero-section .nd-hero-container .nd-hero-row .nd-hero-heading-column .nd-hero-text-container .nd-hero-body-text {
        font-size: 1rem;
    }

    #nd-hero-section .nd-hero-container .nd-hero-row .nd-hero-heading-column .nd-hero-text-container .nd-h3-heading,
    .nd-h1-heading {
        line-height: 3.5rem !important;
    }

    #nd-hero-section .nd-hero-container .nd-hero-row .nd-hero-heading-column .nd-hero-text-container .nd-hero-body-text {
        margin: 30px 0px;
    }

    #nd-hero-section .nd-hero-container .nd-hero-row .nd-hero-heading-column .nd-hero-text-container .nd-hero-body-text {
        margin-top: 0px;
    }

    #nd-hero-section .nd-hero-container .nd-hero-row .nd-hero-img-column .nd-hero-img-container  {
        padding-top: 30px;
    }

    #nd-hero-section .nd-hero-container .nd-hero-row .nd-hero-heading-column .nd-hero-cta-container a {
        display: block;
        width: 60%;
    }

    #nd-hero-section .nd-hero-container .nd-hero-row .nd-hero-heading-column .nd-hero-cta-container .nd-hero-secondary-cta {
        margin: 20px 0px 0px 0px;
    }

    #nd-hero-section .nd-hero-container .nd-hero-row .nd-hero-heading-column .nd-hero-cta-container {
        margin-top: 20px;
    }

    /* Mobile divider styles */
    .nd-hero-container::before {
        background-size: 184% 68px;
        background-position: 50% 100%;
    }

/* Mobile about section */
    
#nd-about-section .nd-about-container .nd-about-row {
    display: flex;
    flex-direction: column;
}

#nd-about-section .nd-about-container .nd-about-row .nd-about-text-column .nd-about-cta-container a {
    display: block;
    width: 60%;
}

#nd-about-section .nd-about-container .nd-about-row .nd-about-text-column .nd-about-cta-container .nd-about-secondary-btn {
    margin-left: 0px;
    margin-top: 20px;
}

#nd-about-section .nd-about-container .nd-about-row .nd-about-img-column img {
    max-width: 90%;
}

}

/* Tablet styles */

@media only screen and (min-width: 768px) and (max-width: 991px) {

    /* Tablet menu styles */

    #nd-header {
        width: 100%;
        box-shadow: 2px -17px 37px 0px var(--primary-green-color);
    }

    #nd-header #nd-navbar {
        height: 60px;
        justify-content: space-between;
        padding: 0px 55px;
    }

    #nd-navbar .nd-navbar-menu {
        display: none;
    }

    #nd-navbar .nd-navbar-mobile-menu {
        display: block;
        width: 30%;
        list-style-type: none;
        background-color: #ffffff;
        position: absolute;
        right: 0;
        top: 60px;
        z-index: 9999999;
        padding: 50px 45px;
        transform: translatex(300px);
        transition: all 0.3s ease-in-out;
    }

    #nd-navbar .nd-navbar-mobile-menu .nd-navbar-menu-item {
        border-bottom: 1px solid rgba(0, 0, 0, 0.189);
    }

    #nd-navbar .nd-navbar-mobile-menu .nd-navbar-menu-item a {
        font-family: var(--primary-font);
        font-weight: 700;
        font-size: 1rem;
        letter-spacing: 1px;
        line-height: 2.5rem;
        color: var(--text-black-color);
        transition: all 0.3s ease-in-out;
    }

    #nd-navbar #nd-navbar-logo a {
        font-size: 1.75rem;
    }

    #nd-navbar .nd-navbar-mobile-hamburger {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 4px;
    }

    #nd-checkbox:checked~.nd-navbar-mobile-menu {
        transform: translatex(0px) !important;
    }

    #nd-navbar .nd-navbar-mobile-menu .nd-navbar-cta {
        margin-top: 10px;
        border: none;
    }

    /* tablet Hero section  styles */

    #nd-hero-section {
        padding: 50px 0px 0px 0px;
    }

    #nd-hero-section .nd-hero-container .nd-hero-row {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    #nd-hero-section .nd-hero-container .nd-hero-row .nd-hero-heading-column {
        width: 100%;
        color: var(--text-white-color);
        margin-top: 0px;
    }
    

    #nd-hero-section .nd-hero-container .nd-hero-row .nd-hero-heading-column .nd-hero-text-container .nd-h3-heading,
    .nd-h1-heading {
        line-height: 3.8rem !important;
    }

    #nd-hero-section .nd-hero-container .nd-hero-row .nd-hero-heading-column .nd-hero-text-container .nd-hero-body-text {
        margin: 30px 0px 60px 0px;
    }

    #nd-hero-section .nd-hero-container .nd-hero-row .nd-hero-img-column .nd-hero-img-container  {
        padding-top: 40px;
    }

    /* Tablet about section */
    #nd-about-section .nd-about-container .nd-about-row {
        display: flex;
        flex-direction: column;
    }

    #nd-about-section .nd-about-container .nd-about-row .nd-about-img-column {
        text-align: left;
    }

    #nd-about-section .nd-about-container .nd-about-row .nd-about-img-column img {
        max-width: 90%;
    }

}

/* Custom divider responsive breakpoint */

@media (min-width:991px) and (max-width:1382px) {
    .nd-hero-container::before {
        bottom: -6.1vw;
        left: -0.1vw;
        right: -0.1vw;
        top: -0.1vw;
        background-size: 189% 126px;
        background-position: 1% 100%;
        background-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35.28 2.17" preserveAspectRatio="none"><path d="M35.28 1.16c-3.17-.8-7.3.4-10.04.56-2.76.17-9.25-1.47-12.68-1.3-3.42.16-4.64.84-7.04.86C3.12 1.31 0 .4 0 .4v1.77h35.28z" fill="%231a2228"/></svg>');
    }
}

/*Bigger screen styles */
@media (min-width:2100px) {
    .nd-hero-container::before {
        background-size: 184% calc(2vw + 116px);
    }
}